/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run CLIMB-TRE/chimera -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // One ONT sample and one paired-end Illumina sample, both using the
    // sarscov2 fastq test data hosted on nf-core/test-datasets. The Illumina
    // reads and reference genome are fetched live from there too.
    input                            = "${projectDir}/tests/testdata/samplesheet.csv"

    rammap_index                     = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta'
    database_metadata                = "${projectDir}/tests/testdata/database_metadata.tsv"
    sylph_db                         = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta'
    sylph_taxdb                      = "${projectDir}/tests/testdata/sylph_taxonomy.tsv"

    min_alignment_proportion_filter  = true
}
